.groups-list {
	display: flex;
	flex-direction: column;

	&__item {
		flex-shrink: 0;
		position: relative;
		height: $indXL;
		padding: 0 $indM;
		font-size: 16px;
		text-align: left;
		color: $sideMenuTextClr;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-left: 3px solid $sideMenuHoverColor;
			opacity: 0;
			background: linear-gradient(to right, rgba(127, 142, 218, .2), transparent);
			transition: $mainTransition;
		}

		&:hover,
		&:focus,
		&--active {
			&:before {
				opacity: 1;
			}
		}
	}
}